<html>
<head>
<title>Node.Js and Passport App</title>
<link rel="stylesheet" href = "../css/trangchu.css">
<link rel="stylesheet" href = "../css/dangnhap.css">
<link rel="stylesheet" href = "../css/dangki.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<%- body %> 
</body>
</html>