/* Animation */

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        opacity: scale(var(--growth-to));
    }
}


/*modal*/


/* .modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
} */
body{
    margin: 0px;
}
.login_header {
    height: 55px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    box-shadow: 0px 3px 2px rgb(219, 219, 219);
    position: fixed;
}

#logo {
    height: 35px;
    margin: 10px 0px 10px 20px ;
}

.modal__overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(235, 235, 235);
    position: absolute;
    min-width: 500px;
    min-height: 600px;
}

.login-form {
    width: 450px;
    height: 355px;
    --growth-from: 0.7;
    --growth-to: 1;
    background-color: white;
    margin: auto;
    margin-top: 10%;
    /* position: relative; */
    z-index: 1;
    border-radius: 4px;
    animation: growth linear 0.2s;
}

.auth-form__container_login {
    padding: 12px 20px;
    box-shadow: 2px 1px 2px rgb(219, 219, 219);
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px;
}

.auth-form__heading {
    margin: auto;
    margin-bottom: 20px;
    font-size: 24px;
    color: rgb(56, 55, 55);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.auth-form__swicth-btn {
    font-size: 14px;
    color: rgb(225, 225, 225);
    cursor: pointer;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.auth-form__form {
    margin: 8px;
}

.auth-form__aside {
    margin: 12px;
}

.label_input {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 2px;
    margin-bottom: 10px;
    padding: 0px 12px;
    font-size: 1.4 rem;
    border-radius: 4px;
    border: 1px solid rgb(158, 155, 155);
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.auth-form__policy-text {
    font-size: 14px;
    line-height: 1.3rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.auth-form__policy-link {
    text-decoration: none;
    color: rgb(206, 98, 98);
}

.auth-form__controls {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    border-radius: 4px;
    justify-content: center;
}

.btn {
    min-width: 142px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.btn.btn--normal:hover {
    background-color: rgb(218, 216, 216);
}

.btn.btn--size-s {
    height: 30px;
    /* width: 100%; */
    font-size: 12px;
}

.btn.btn--primary {
    color: rgb(255, 255, 255);
    background-color: #247E0C;
    width: 94%;
    height: 40px;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.auth-form__controls-back {
    margin-right: 8px;
    text-decoration: none;
    color: rgb(129, 125, 125);
}

.auth-form__socials {
    margin-top: 5px;
    margin-bottom: 6px;
    width: 370px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    padding: 12px 40px;
    /* display: flex; */
    /* justify-content: space-between; */
    position: relative;
    box-shadow: 2px 1px 1px rgb(224, 224, 224);
}

.auth-form__socials--facebook {
    color: black;
    background-color: white;
    border-radius: 4px;
    border: 1px solid black;
    cursor: not-allowed;
    width: 100%;
}

.auth-form__socials-google {
    width: 346px;
    position: absolute;
    top: 60px;
    border-radius: 4px;
    border: 1px solid black;
    background-color: white;
    cursor: not-allowed;
}

.auth-form__socials-icon {
    color: black;
}

.auth-form__socials-title {
    color: black;
    margin: 0 10px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.0rem;
    text-decoration: none;
    display: flex;
    padding: 0 4px;
}

.auth-form__help-forgot {
    color: rgb(247, 76, 76);
    font-size: 14px;
}

.auth-form__help-a {
    color: rgb(138, 135, 135);
    font-size: 14px;
}

.auth-form__toregister {
    border-radius: 3px;
    padding: 12px 40px;
    background-color: white;
    box-shadow: 2px 2px 2px rgb(219, 219, 219);
    text-align: center;
}

.toregister {
    margin: 10px 70px;
    font-size: 14px;
    color: rgb(111, 111, 111);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}