*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1140px;
    display: block;
    margin: 0 auto;
}
.row{
    display: flex;
    align-items: center;
}
html, body{
    font-family: 'Times New Roman', Times, serif;

}
header{
    background: rgb(84, 57, 160);
    padding: 15px 0;
}
.logo{
    display: block;
    max-width: 180px;
    margin-right: 60px;
}
.logo img{
    width: 100%;
    height: 20%;
}
.menu{
    display: flex;
    align-items: center;
}
.menu li{
    list-style: none;
}
.menu li a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 25px;
    
}
/* .dropdown {
    display: flex;
    align-items: center;
    margin-left: 250px;
    text-decoration: none;
} */
.container_bt {
    display: flex;
    align-items: center;
    margin-left: 250px;
    text-decoration: none;
}
/* Dropdown Button */
.dropbtn {
    background-color:rgb(84, 57, 160);
    text-decoration: none;
    border: none;
    color: white;
    margin-right: 10px;
    font-size: 16px;
}
.dropbtn .fa{
    margin-right: 8px;
}
/* ĐỔi màu nền khi hover và focus Dropdown button */
.dropbtn:hover, .dropbtn:focus {
    background-color: #423a6e;
}
 
/* Định dạng các thẻ bao bọc các menu */
.dropdown {
    position: relative;
    display: inline-block;
}
 
/* Dropdown Content, mặc định sẽ được ẩn đi */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
 
/* Định dạng các thẻ a là các menu con */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
 
/* Thay đổi màu nền khi các menu con được hover */
.dropdown-content a:hover {background-color: #f1f1f1}
 
/* Hiển thị menu, ta sẽ dùng javascript để thêm class này vào các nôi dung cần được hiển thị */
.show {display:block;}
.create{
    position: absolute;
    width: 600px;
    height: 160px;
    margin: 10% 30%;
    text-align: center;
}
.create h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
}
.create a{
    border: 1px solid#fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
}
.create a:hover{
    background: #fff;
    color: #333;
}
/* Animation */
@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        opacity: scale(var(--growth-to));
    }
}
